<!DOCTYPE html>
<html>
<%- include('layout/headerScripts') %>

    <body class="hold-transition sidebar-mini skin-blue">
        <div class="wrapper">
            <%- include('layout/header') %>
                <%- include('layout/nav') %>
                    <div class="content-wrapper">
                        <section class="content">


                        </section>
                    </div>
                    <%- include('layout/footer') %>
        </div>
    </body>

</html>