<%- include('layout/header', {auth: auth}) %>
<section class="hero-slider">
		<!-- Single Slider -->
		<div class="single-slider">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-lg-9 offset-lg-3 col-12">
						<div class="text-inner">
							<div class="row">
								<div class="col-lg-7 col-12">
									<div class="hero-text">
										<h1><span>NEW OFF </span>TRY IT</h1>
										<p>Maboriosam in a nesciung eget magnae <br> dapibus disting tloctio in the find it pereri <br> odiy maboriosm.</p>
										<div class="button">
											<a href="/customer/product-list" class="btn">Shop Now!</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Single Slider -->
	</section>
	<div class="product-area section">
            <div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2>Trending Item</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="product-info">
							<div class="nav-main">
								<!-- Tab Nav -->
								<ul class="nav nav-tabs" id="myTab" role="tablist">
									<% if(categoryData.length!=0){ var i=1;
										categoryData.forEach(function(data){ %>
											<li class="nav-item"><a class="nav-link" onclick="category('<%=data.name%>');" role="tab"><%=data.name%></a></li>
										<% i++; }) %>
										<% } else{ %>
										<tr>
											<td colspan="7">No Data Found</td>
										</tr>
										<% } %>
								</ul>
							</div>
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="man" role="tabpanel">
									<div class="tab-single">
										<div class="row filter_data">

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>

    </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			filter_data("");
			category = function(categoryName) { //now has global scope.
				filter_data(categoryName);
			};
			function filter_data(categoryName) {
				$('.filter_data').html('<div id="loading" style="" ></div>');
				$.ajax({
					url: "/customer/home-category",
					method: "POST",
					data: { category_name: categoryName },
					success: function (data) {
						if(data.length >0){
							for (var i = 0; i < data.length; i++) {
								var product = $('<div class="col-xl-3 col-lg-4 col-md-4 col-12">' +
									'<div class="single-product">' +
									'<div class="product-img">' +
									'<a href="/customer/product-detail/' + data[i].id + '">' +
									'<img class="default-img" src="/' + data[i].image + '" alt="#">' +
									'<img class="hover-img" src="/' + data[i].image + '" alt="#">' +
									'<div class="button-head">' +
									'<div class="product-action">' +
									'<a title="Compare" href="/customer/add-cart/' + data[i].id + '"><i' +
									'class= "ti-bag" ></i > <span>Add to cart</span></a > ' +
									'</div>' +
									'<div class="product-action-2">' +
									'<a title="Add to cart" href="/customer/add-cart/' + data[i].id + '">Add to' +
									'cart</a>' +
									'</div>' +
									'</div>' +
									'</div>' +
									'<div class="product-content">' +
									'<h3><a href="/customer/product-detail/' + data[i].id + '">' +
									'' + data[i].name + '' +
									'</a></h3>' +
									'<div class="product-price">' +
									'<span>₹' + data[i].rate + '.00</span>' +
									'</div>' +
									'</div>' +
									'</div>' +
									'</div>');
								$('.filter_data').append(product);
							}
						}else{
							$('.filter_data').append(
								'<div >' +
									' No Data Found '+
								'</div>' 
							);
						}
					}
				});
			}
			
		});
	</script>
<%- include('layout/footer') %>