<footer class="main-footer">
    <strong> <a href="">Thiruvengadam Loganathan</a></strong> 
</footer>
</div>
<script src="/admin-style/assets/js/app.min.js"></script>
<script src="/admin-style/assets/js/dataTables.bootstrap.min.js"></script>
<script src="/admin-style/assets/js/datatable/jquery.dataTables.min.js"></script>
<script src="/admin-style/assets/js/datatable/dataTables.responsive.min.js"></script>
<script src="/admin-style/assets/js/datatable/dataTables.bootstrap.min.js"></script>
<script src="/admin-style/assets/js/datatable/dataTables.buttons.min.js"></script>
<script src="/admin-style/assets/js/datatable/jszip.min.js"></script>
<script src="/admin-style/assets/js/datatable/pdfmake.min.js"></script>
<script src="/admin-style/assets/js/datatable/vfs_fonts.js"></script>
<script src="/admin-style/assets/js/datatable/buttons.html5.min.js"></script>
<script src="/admin-style/assets/js/datatable/buttons.print.min.js"></script>
<script src="/admin-style/assets/js/datatable/date-dd-MMM-yyyy.js"></script>
<script src="/admin-style/assets/js/datatable/jquery-ui.js"></script>
<script src="/admin-style/assets/js/validation.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js" type="text/javascript"></script>

<script src="/admin-style/js/entry.js"></script>
<script src="/admin-style/js/expense.js"></script>
<script src="/admin-style/js/income.js"></script>

<script>
    $(document).ready( function () {
        $('.DataTable').DataTable({
            "aaSorting": []
        });
    });
</script>
