<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li><a href=""><i class="fa fa-dashboard "></i>
                    <span>Dashboard</span></a></li>
            <li class="treeview ">
                <a href="#">
                    <i class="fa fa-book "></i>
                    <span>Category</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/add-category"><i class="fa fa-book "></i> <span>Add</span></a></li>
                    <li><a href="/admin/view-category"><i
                                class="fa fa-book "></i> <span>View
                                </span></a></li>
                </ul>
            </li>
            <li class="treeview ">
                <a href="#">
                    <i class="fa fa-book "></i>
                    <span>Product</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/add-product"><i class="fa fa-book "></i> <span>Add</span></a></li>
                    <li><a href="/admin/view-product"><i
                                class="fa fa-book "></i> <span>View
                                </span></a></li>
                </ul>
            </li>
            <li><a href="/admin/view-customer"><i class="fa fa-group "></i>
                <span>Customer</span></a></li>

        </ul>
    </section>
</aside>