<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
    <title>Eshop</title>
	<!-- Favicon -->
	<link rel="icon" type="/image/png" href="images/favicon.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/customer-style/css/bootstrap.css">
    <link rel="stylesheet" href="/customer-style/css/magnific-popup.min.css">
    <link rel="stylesheet" href="/customer-style/css/font-awesome.css">
	<link rel="stylesheet" href="/customer-style/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/customer-style/css/themify-icons.css">
    <link rel="stylesheet" href="/customer-style/css/niceselect.css">
    <link rel="stylesheet" href="/customer-style/css/animate.css">
    <link rel="stylesheet" href="/customer-style/css/flex-slider.min.css">
    <link rel="stylesheet" href="/customer-style/css/owl-carousel.css">
    <link rel="stylesheet" href="/customer-style/css/slicknav.min.css">
	<link rel="stylesheet" href="/customer-style/css/reset.css">
	<link rel="stylesheet" href="/customer-style/style.css">
    <link rel="stylesheet" href="/customer-style/css/responsive.css">
</head>
<body class="js">
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<header class="header shop">
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="/customer/home"><img src="/customer-style/images/logo.png" alt="logo"></a>
						</div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form">
									<input type="text" placeholder="Search here..." name="search">
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-12">
						<div class="right-bar">
							<div class="sinlge-bar">
								<a href="/customer/cart" class="single-icon"><i class="ti-bag"></i></a>
							</div>
							<div class="sinlge-bar shopping">
								<a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
								<div class="shopping-item">
									<div class="dropdown-cart-header">
										<span>Name</span>
										<a href="#"><%=auth.name%></a>
									</div>
									<div class="bottom">
										<div class="total">
											<span>Mobile</span>
											<span class="total-amount"><%=auth.mobile%></span>
										</div>
										<a href="/customer/logout" class="btn animate">Logout</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="cat-nav-head">
					<div class="row">
						<div class="col-lg-3">
							<div class="all-category">
								<h3 class="cat-heading"><i c aria-hidden="true"></i>BRING IT</h3>
							</div>
						</div>
						<div class="col-lg-9 col-12">
							<div class="menu-area">
								<!-- Main Menu -->
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">	
										<div class="nav-inner">	
											<ul class="nav main-menu menu navbar-nav">
													<li><a href="/customer/home">Home</a></li>
													<li><a href="/customer/product-list">Product</a></li>												
													<li><a href="#">Shop<i class="ti-angle-down"></i></a>
														<ul class="dropdown">
															<li><a href="/customer/cart">Cart</a></li>
															<li><a href="/customer/view-order">Orders</a></li>
														</ul>
													
													<li><a href="/customer/contact">Contact Us</a></li>
												</ul>
										</div>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
